.place{
    display: grid;
    grid-template-columns: 472px 1fr;
    row-gap: 32px;
    column-gap: 28px;
    margin: 65px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place {
        row-gap: 28px;
    }
  }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 2fr;
        row-gap: 48px;
        margin-bottom: 73px;
    }
  }

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        justify-items: start;
        margin: 50px 0;
        row-gap: 32px;
    }

    .place:last-of-type{
        margin-bottom: 66px;
    }
  }

